#videoContainer {
  position: relative;
  width: 100%;
  video {
    object-fit: fill;
    height: 80vh;
    width: 100%;
    max-height: 100%;
    // display: block;
    // margin: auto;
    &.full {
      height: 100vh;
    }
  }
  .videoControls {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin: 0px 15px;
      }
      .videoControls__time {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        span#separator {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        i {
          font-size: 20px;
        }
      }
    }
  }
}

#video__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
  #video__title {
    margin-bottom: 10px;
    font-size: 35px;
  }
  #video__description {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  #video__createdAt {
    font-size: 7px;
    text-align: end;
    margin-right: 10px;
  }
  #hashtags {
    color: aqua;
    font-size: 12px;
  }
  #upload {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
    img {
      margin-left: 10px;
      margin-right: 5px;
      border-radius: 50%;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: blueviolet;
    }
  }
  #video__edit {
    margin-top: 10px;
    a {
      color: aquamarine;
    }
  }
}

.video__comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    #profile_img {
      margin-right: 10px;
      img {
        border-radius: 50%;
      }
    }
    align-items: center;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    #video__delete-comment {
      margin-left: auto;
      cursor: pointer;
    }
  }
}

.video__add-comments {
  margin-top: 20px;
  .video__comment-form {
    display: flex;
    input {
      all: unset;
      padding: 15px 20px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: black;
      margin-bottom: 5px;
      font-size: 16px;
      color: white;
      width: 90%;
    }
    button {
      all: unset;
    }
    button {
      position: relative;
      right: 30px;
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      cursor: pointer;
    }
  }
}
