header
    a(href="/").header__logo
        img(src="https://nugurisite.s3.ap-northeast-2.amazonaws.com/nuguri.png",width="120",height="70" crossorigin)
        //- i.fab.fa-youtube
    nav
        ul 
            li
                a(href="/search") Search 
                    i.fas.fa-search


            
            if loggedIn
                li
                    a(href="/videos/upload") Upload Video
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") logout 
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl.includes("github")
                            img.header__avatar(src=loggedInUser.avatarUrl crossorigin)
                        else
                            img.header__avatar(src=loggedInUser.avatarUrl crossorigin)

            else    
                li 
                    a(href="/login") Login 
                li
                    a(href="/join").header_btn Join